// Set your colors
$primary: #dddddd;
$primary-invert: findcolorinvert($primary);
$twitter: #4099ff;
$twitter-invert: findcolorinvert($twitter);
@import '~bulma/sass/utilities/all'; // Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'white': ($white, $black,),
  'black': ($black, $white,),
  'light': ($light, $light-invert,),
  'dark': ($dark, $dark-invert,),
  'primary': ($primary, $primary-invert,),
  'info': ($info, $info-invert,),
  'success': ($success, $success-invert,),
  'warning': ($warning, $warning-invert,),
  'danger': ($danger, $danger-invert,),
  'twitter': ($twitter, $twitter-invert,),
); // Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary; // Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
$white: #fff;
$grey: darken($white, 15%);
$black: #333;

html {
  overflow-y: hidden; /* Hide vertical scrollbar */
  scroll-behavior: smooth;
  background-color: #4d4d4d;
  background-image: url("../bg.webp");
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


body{
  font-family: 'Oswald', sans-serif;
}

/* custom Scroll bars */
::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb {
  background: $primary;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
    pointer-events: none;
}

.indicator-item {
flex: none!important;
}

.shadow{
  box-shadow:  0px 2px 5px 0px rgba(0,0,0,0.50)
}

.selected img{
  filter:
  drop-shadow(0 -2px 0 white)
  drop-shadow(0 2px 0 white)
  drop-shadow(-2px 0 0 white)
  drop-shadow(2px 0 0 white)!important;
}

.modal-content {
  background-color: transparent!important;
  text-align: center;
  align-items: center;
    display: flex;
}

@media screen and (max-width: 1023px){
.navbar-menu{
  position: absolute;
width: 100%;
background-color: rgba(0, 0, 0, 0.8);
}

html{
  overflow-y: auto;
}

.navbar-menu {
  display: block;
  opacity: 0;

  position: absolute;   /* or float: left; width: 100%;*/
  left: 0;
  right: 0;

  transform: translateY(-50%);
  transition: all .4s ease-in-out;
  pointer-events: none;
}

.navbar-menu.is-active {
  opacity: 1;
  transform: none;
  pointer-events: auto;
}
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}